html,
body {
    margin: 0
}

:root {
    --slate-100: #f1f5f9;
    --slate-400: #94a3b8;
    --slate-950: #020617;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: var(--slate-950);
}

main {
    flex-grow: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {

}

.library {
    background-color: var(--slate-400);
    border-radius: 12px;
    padding: 32px;
}

.library__content {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-100);
    padding: 16px;
    border-radius: 8px;
}