html,
body {
    margin: 0
}

:root {
    --slate-100: #f1f5f9;
    --slate-400: #94a3b8;
    --slate-950: #020617;
    --green-400: #4ade80;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: var(--slate-950);
}

main {
    flex-grow: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {

}

.library {
    background-color: var(--slate-400);
    border-radius: 12px;
    padding: 32px;
}

.library__content {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.library__footer {
    padding-top: 8px;
    display: flex;
    justify-content: end;
}

.addBook {
    border-radius: 100%;
    border-style: none;
    background-color: var(--green-400);
    padding: 10px;
    color: white;
    width: 32px;
    height: 32px;
    line-height: 0%;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-100);
    padding: 16px;
    border-radius: 8px;
}

dialog:not([open]) {
    display: none; /* Hide the dialog when it's not open */
}

dialog {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-row {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    border: 1px solid ;
    border-radius: 4px;
}